<h1 class="text-center mt-4">ToDoList</h1>
<nav>
    <ul class="my-4">
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Inserisci</a></li>
      <li><a routerLinkActive="active" routerLink="/tasksfiniti">Task finiti</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>







































































































































































































































